.{
    margin: 0%;
    padding: 0%;
}
.button1{
    background-color:lightseagreen;
    cursor: pointer;
    margin: 1%;
}
.button2{
    background-color:lightgoldenrodyellow;
    cursor: pointer;
    margin: 1%;
}
.button3{
    background-color:lightcoral;
    cursor: pointer;
    margin: 1%;
}
